#Directories
.vs/
.vscode/
bin/
bin-int/
ipch/
Debug/
externals/
assets/textures
assets/meshes
Data/Build


**.ini
**.bmp
*.sdf
*.user
*.opensdf
logs.txt
*.log
**.filters
**.vcxproj
*.exe
*.sln
**.pdb


#Project Config Files
.claudiaideconfig

#Code lite
*.project
*.workspace
*.json
.cache/
.codelite/
.ctagsd/

#Makefile
Makefile
.vscode/dryrun.log
