#Directories
.vs/
.vscode/
bin/
bin-int/
ipch/
trace/trace.vcxproj
trace/trace.vcxproj.filters
Debug/
externals/
assets/textures
assets/meshes


**.ini
**.bmp
*.sdf
*.user
*.opensdf
logs.txt
*.log
**.filters
**.vcxproj
*.exe
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
*.sln


#Project Config Files
.claudiaideconfig

#Code lite
*.project
*.workspace
*.json
.cache/
.codelite/
.ctagsd/

#Makefile
Makefile
.vscode/dryrun.log
