#Directories
.vs/
.vscode/
bin/
*.sdf
*.user
bin-int/
*.opensdf
logs.txt
ipch/
*.log
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
*.sln
*.filters
*.vcxproj
Debug/

#Code lite
*.project
*.workspace
*.json
.cache/
.codelite/
.ctagsd/

#Makefile
Makefile
.vscode/dryrun.log
